<%= form_for(@issue) do |f| %>
<table>
  <tr><td>Heading</td><td><%= f.text_field :heading %></td></tr>
  <tr><td>Description:</td><td><%= f.text_area :description %></td></tr>
  <tr><td>Status:</td><td><%= f.text_field :status %></td></tr>
  <tr><td>Open/Closed:</td><td><%= f.check_box :open %></td></tr>
  <tr><td>Duplicate:</td><td><%= f.check_box :dupl %></td></tr>
</table>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
