<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<script>
  document.getElementById("issue").setAttribute("class","active");
</script>



<br /><br />

    <div style="border:1px solid black; padding:1em;">
    <% @issues.each do |issue| %>
      <div>
      <div >
         <h3> <%= issue.heading %> (<%= Project.find(issue.project_id).name %>)</h3>
       </div>
         <p>
           <%= issue.description %>
           <% if issue.dupl %>Marked Dup <% end %>
         </p>
        <%= link_to 'Show', issue %>
        <%= link_to 'Edit', edit_issue_path(issue) %>
        <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>


<br>
